body {
    font-family: 'Rubik', sans-serif;
    background-color: #ffffff;
    color: black;
    margin-left: auto;
    margin-right: auto;
    min-width: 750px;
    max-width: 1000px;
}

.geo-layer {
    fill: #fff;
    stroke: #aaa;
}

.main {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    min-width: 750px;
    max-width: 750px;
}

h1,
h2,
h3 {
    font-weight: 700;
}

a {
    color: #164d85;
    text-decoration: none;
}

a:hover {
    color: #066fd8;
}

.hbar {
    margin-left: auto;
    margin-right: auto;
    border-top: solid;
    border-top-width: 2px;
    color: #164e8555;
}